html, body {
   margin: 0;
   font-size: 16px; 
}


{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: #ffffff;

}

#container {
    height: 100%;
    width: 100%;
}

.tileimage{
    background: url(images/bgtile.png) no-repeat center center fixed;
    background-size: cover;
}

#innerbody{
    display: inline-block;

}


#innerRight{
    display:inline-block
}


#instagramlogo{
    display: inline-block;
    
    
}

#textapps{
    display: inline;
}

#para{
    display: inline-block;
}

#googleapple{
    display: inline-block;
}

/* #logo {
    background: url(images/bgtile.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 15%;
}

#home {
    background-color: #668bab;
}

button {
    background-color: #668bab;
    color: white;
    font-weight: bold;
    border-color: #668bab;
    float: right;
}

#phone {
    float: left;
    padding-left: 15rem;
   
}
#insta {
    padding-left: 5rem;
    padding-bottom: 5rem;
    
}

#home {
    padding-top: .2rem;
}

section {
    background: url(images/frame.png);
    background-repeat: no-repeat;
    float: right;
}

h1 {
    color: #042a51;
    margin:0
   }

span {
    font-weight: bold;
}


ul {
    list-style-type: none; 
    bottom: 0; 
    margin: auto;
    text-align: center;  
}

li {
    display: inline-block;
    padding: 5px;
}

a {
    color: #50789e;
    text-decoration-line: none;
    
}

#copy{
    color: #acacad
}


footer{
    clear: both; */
    /* background: white; */
    /* display:row;
    bottom: 0; */
}   
