
body { /* body margins to 0 and linear gradient for coloring */
   margin: 0;
   font-size: 16px;
   background: linear-gradient(to bottom, #3b6890 41vh, #ffffff 0);
   background-size: cover;
   width: 100%;
   height: 50%;
   top: 0;
   z-index: -1;
   
}


{
    -moz-box-sizing: border-box; /* making sure everything works in other browsers */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body { /* body background color*/
    background-color: #ffffff;

}

#container { /* container width and height so all the elemetns fit within the page*/
    height:100vh;
    width: 100%;
}


#footerContainer { /* making sure that the footer container background is white */
    background-color: #ffffff;
}

#innerBody{ /* styling for the container that contains all the elements for the page */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: 700px;
    margin: 0 auto;
    justify-content: space-between;
}

#innerRight{ /* height for this container to make it all fit perfectly in the correct position */
    height: 30rem;
}


#instagramlogo{ /* positioning flexbox for the instagram and home logos */
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-left: 1rem;
    
}

#phone{/* positioning for the phone image */
   float: left; 
   padding-right: 3rem; 
   clear:left;
}

#textapps{ /* positioning for the paragraph and app store buttons */
    background: url(images/frame.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 400px;
    background-size: auto 100%;
    padding: 2rem;
    margin-top: 3rem; */
}

button { /* styling and positioning for the home/login button */
    background-color: #668bab;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-color: #668bab;
    padding: 5px 0;
    width: 6rem;
}

button > span {/* positioning for the text "log in" */
    float: right;
    padding-left: 1rem;
}

#home{ /* positioning for the home button only */
    padding-left: .3rem;
}


h1 { /* style and margin for the h1 */
    color: #042a51;
    margin:0
   }

   span { /* sytling for span items */
    font-weight: bold;
}

ul { /* positioning and styling for the unordered list */
    list-style-type: none; 
    bottom: 0; 
    margin: auto;
    text-align: center; 
    font-size: 13px; 
    font-weight: bold;
} 

li { /* making the list horizontal in the footer */
    display: inline-block;
    padding: 5px;
}

a { /* styling for all the list items/nav buttons */
    color: #50789e;
    text-decoration-line: none;
    
}

#copy{ /* color for the the instagram copyright */
    color: #acacad
}


footer{ /* clearing everything out so the footer sits at the bottom */
    clear: both; 
    
}   





















 /* background: url(images/bgtile.png) no-repeat center center fixed; 
    background-size: cover;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    z-index: -1; */ 